<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../css/output.css">
</head>
<body>
    <div class=" flex flex-row gap-2 justify-end pr-10 tex-2xl">
        <div class="hover:font-bold hover:text-blue-700 hover:bg-red-400 rounded-lg p-2">Home</div>
        <div class="hover:font-bold hover:text-blue-700 hover:bg-red-400 rounded-lg  p-2">Product</div>
        <div class="hover:font-bold hover:text-blue-700  hover:bg-red-400 rounded-lg  p-2"> Service</div>
        <div class="hover:font-bold hover:text-blue-700  hover:bg-red-400 rounded-lg  p-2 ">about</div>
        
    </div>
</body>
</html>